body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.slideshow-container {
    position: relative;
    max-width: auto;
    margin: auto;
}

.slides {
    display: none;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    text-align: center;
    margin: 15px 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
